<div class="container">
  <div *ngIf="!isUserAuthenticated" class="row">
    <div class="col text-center">
      <button [routerLink]="['/login-user']" class="btn btn-primary">Login</button>
      <button [routerLink]="['/register-user']" class="btn btn-primary">Register</button>
      <button [routerLink]="['/api/Admin/ListUsers']" class="btn btn-primary">Click</button>
    </div>
  </div>

  <div *ngIf="isUserAuthenticated" class="row">
    <div class="col text-center">
      <button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
        Do it!
      </button>
      <button (click)="functionButton()" class="btn btn-primary">Click</button>
    </div>
  </div>

</div>
