<header *ngIf="!this.isUserAuthenticated || this.user">
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">PlatformaRecrutari.Web</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>

          <li
            *ngIf="isUserPM()"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/sessions']"
              >Session Manager</a
            >
          </li>

          <li
            *ngIf="isUserCandidate()"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/sessions']">Apply</a>
          </li>

          <li
            *ngIf="this.isUserAuthenticated"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['']" (click)="logout()"
              >Logout</a
            >
          </li>

          <li
            *ngIf="!this.isUserAuthenticated"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/login-user']"
              >Login</a
            >
          </li>

          <li
            *ngIf="!this.isUserAuthenticated"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/register-user']"
              >Register</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
